/*resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

i {
  pointer-events: none;
}

button {
  font-weight: 500;
}

:root {
  --bg-color: #222;
  --font-color: #eee;
  --primary: #4CAF50;
  --secondary: #FFC107;
  --danger: #810000;
  --text-primary: #fff;
  --text-secondary: #777;
  /*style cards*/
  --card-color: linear-gradient(45deg, var(--primary), #0d9, #0a2);
  --card-font-color: #152025;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*themes*/
.theme-countries {
  background: linear-gradient(#000, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), #000), url("../img/countries/background.jpg");
}

.theme-tecs {
  background: linear-gradient(#000, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), #000), url("../img/tecs/background.jpg");
}

.game-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 2rem 0;
  font-family: "Bangers", sans-serif;
  font-size: 3rem;
  color: var(--text-primary);
}
.game-title > span {
  font-size: .35em;
  display: inline-block;
  color: #ff0;
  font-weight: bold;
}

.container-game {
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-screen,
.container-buttons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.container-buttons {
  width: 100%;
}

.container-buttons-inline{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.screen-title {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid var(--font-color);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.container-exit {
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--danger);
}
.container-exit p {
  line-height: 2rem;
  font-size: 1.25rem;
}

.container-stopwatch {
  text-align: end;
}

.stopwatch-time {
  display: inline-block;
  height: .5rem;
  background: var(--primary);
  transition: .75s;
  border-radius: 2rem;
}

.stopwatch-duration {
  width: 100%;
  display: flex;
  gap: .1rem;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
}

.container-stage {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.container-cards {
  flex:1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

/*container's cards*/
.container-cards-easy {
  grid-template-rows: repeat(3, 1fr);
}
.container-cards-normal {
  grid-template-rows: repeat(4, 1fr);
}
.container-cards-hard {
  grid-template-rows: repeat(5, 1fr);
}

.card {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  background: var(--primary);
  color: var(--font-color);
  border-image: rgba(0, 0, 0, 0) 33% fill;
  outline: 2px solid var(--primary);
  cursor: pointer;
  transition: 1.5s;
}
.card.check {
  transition: 1.5s;
  background: transparent;
  outline-color: var(--font-color);
}

.card .img {
  height: 1.5em;
}

.container-gameover {
  padding-bottom: 1rem;
  border: 2px solid var(--danger);
  border-radius: 0.75rem;
  margin-bottom: 2rem;
}

.gameover-description {
  font-weight: 500;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: var(--danger);
}

.gameover-title {
  background-color: var(--danger);
}

.container-win {
  padding-bottom: 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.75rem;
}

.win-title {
  background-color: var(--primary);
}

.table-statistics {
  padding: 0 2rem;
  width: 100%;
}

.table-statistics tr:first-child {
  background: var(--primary);
  color: var(--font-color);
}

.table-statistics tr:first-child th,
.table-statistics tr:first-child td {
  font-size: 1.25rem;
}

.statistic-row th,
.statistic-row td {
  padding: .5rem;
}

.statistic-row th {
  text-align: left;
  font-weight: 700;
}

.statistic-row td {
  text-align: center;
}

/*utils*/
.btn {
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  color: var(--font-color);
  letter-spacing: .15rem;
  transition: .5s;
}
.btn:hover {
  filter: grayscale(100%);
}

.btn-primary {
  background-color: var(--primary);
}

.btn-danger {
  background-color: var(--danger);
}

.select {
  padding: 1rem .5rem;
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  background: transparent;
  font-size: 1.25rem;
}

.stage-title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: .75rem 0;
  border-radius: .5rem .5rem 0 0;
  font-family: serif;
}

.card-rotate {
  animation: card-rotate 1.5s;
}
.card-rotate.invert {
  animation: card-rotate 1.5s ;
}

.hide {
  display: none;
}

/*animations*/
@keyframes card-rotate {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}